body,html{
    margin: 0;
    padding: 0;
}
  
#about{
    position: absolute;
    top: 0;
}

#projects{
    transform: translate(0,60px);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
}