.formationDiv{
    margin-top: 110px;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    max-width: 75%;
    margin-left: 20%;
    font-size: 20px;
    text-align: justify;
    color: rgb(0, 0, 50);

    padding-bottom: 60px;
    border-bottom-width: 4px; 
    border-bottom-style: dashed; 
    border-bottom-color: rgba(160, 160, 160, 0.80);
    
    height: 600px;
    animation: init 2.5s ease forwards;
}